*, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 4px;
    word-spacing: 2px;
    background-color: black;
}

#buttoncontainer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(59, 59, 59);
    margin: 0;
}

#cardcontainer {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

#card {
    background-color: rgba(255, 255, 255, 0);
    width: 16vw;
    height: 50vh;
    position: relative;
    z-index: 1;
    transition:  transform 0.5s, color 0.2s;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

#card:hover {
    transform: translateY(-20px);
}

#card.flip-class {
    transform: translateY(-20px) scaleX(-1);
    color: rgba(0,0,0,0);
}

#card::before {
    background: linear-gradient(45deg, rgb(255, 0, 200), rgb(160, 7, 248));
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}

#card::after {
    background: linear-gradient(45deg, rgb(255, 0, 200), rgb(160, 7, 248));
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
    filter: blur(30px);
}

#card h1, #card span {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

#card h1 {
    line-height: 1.2em;
    margin-top: 30%;
    margin-bottom: 10%;
    text-align: center;
}

#card span {
    margin-bottom: 20%;
}


#background {
    background: rgba(0, 0, 0, 0.4);
    margin: 2.5%;
    padding: 5%;
}

#background::before {
    content: '';
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
}

#button1 {
    color: white;
    background: rgb(59, 59, 59);
    border: none;
    font-size: 1.2em;
    height: 7vh;
    width: 15vw;
    text-align: center;
    margin: auto 20vw auto 15vw;
    padding: auto;
    border-radius: 3px 3px 0 0;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 -0.8vh 0 0 #e201c4;
    transition: ease-in 0.2s;
    position: relative;
    z-index: 1;
}

button {
    
}

#button2 {
    color: white;
    background: rgb(33, 194, 19);
    border: none;
    font-size: 1.2em;
    height: 7vh;
    width: 15vw;
    text-align: center;
    margin: auto 15vw auto 20vw;
    padding: auto;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e201c4;
    transition: ease-in 0.3s;
}

#button3 {
    color: white;
    background: rgb(59, 59, 59);
    border: none;
    border: 2px solid #e201c4;
    font-size: 1.2em;
    height: 7vh;
    width: 15vw;
    text-align: center;
    margin: auto;
    padding: auto;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #e201c4;
    transition: ease-in 0.1s;
    position: relative;
    z-index: 1;
}

#button1:hover {
    box-shadow: inset 0 -7vh 0 0 #e201c4;
    border-radius: 3px;
}

#button2:hover {
    box-shadow: inset 15vw 0 0 0 #e201c4;
    border-radius: 3px;
}

#button3::before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:#e201c4;
}

#button3:hover::before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

#button4 {
    color: white;
    background: rgb(59, 59, 59);
    border: none;
    font-size: 1.2em;
    height: 7vh;
    width: 15vw;
    text-align: center;
    margin: auto 20vw auto 15vw;
    padding: auto;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    border: 2px solid #e201c4;
    transition: ease-in 0.2s;
    position: relative;
    z-index: 1;
}

#button4::before {
    content: "";
    position: absolute;
    border-radius: 0px 0px 20px 0px;
    width: 20px;
    height: 20px;
    left: 0%;
    top: -1%;
    background: #e201c4;
    transition: all 0.2s ease-in;
    z-index: -1;
}

#button4::after {
    content: "";
    position: absolute;
    border-radius: 20px 0px 0px 0px;
    width: 20px;
    height: 20px;
    bottom: -1px;
    right: -1px;
    background: #e201c4;
    z-index: -1;
    transition: all 0.2s ease-in;
}

#button4:hover::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 102%;
    width: 60%;
    border-radius: 0px 0px 20px 0px;
}

#button4:hover::after {
    content: "";
    position: absolute;
    right: -1;
    bottom: -1;
    height: 103%;
    width: 60%;
    border-radius: 20px 0px 0px 0px;
}

#button5 {
    color: white;
    background: rgb(59, 59, 59);
    border: none;
    font-size: 1.2em;
    height: 7vh;
    width: 15vw;
    text-align: center;
    margin: auto 20vw auto 15vw;
    padding: auto;
    border-radius: 3px;
    border: 2px solid #e201c4;
    outline: none;
    cursor: pointer;
    transition: ease-in 0.4s;
    position: relative;
    z-index: 1;
}

#button5::before {
    content: "";
    position: absolute;
    top: -17%;
    left: 10%;
    background-color:#e201c4;
    border-left: 2px solid #e201c4;
    border-right: 2px solid #e201c4;
    width: 15px;
    height: 20px;
    transition: ease-in-out 0.25s;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#button5::after {
    content: "";
    position: absolute;
    bottom: -17%;
    right: 10%;
    background-color:#e201c4;
    border-left: 2px solid #e201c4;
    border-right: 2px solid #e201c4;
    width: 15px;
    height: 20px;
    transition: ease-in-out 0.25s;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

#button5:hover::before {
    left: 85%;
}

#button5:hover::after {
    right: 85%;
}

#button6 {
    color: white;
    background: rgb(59, 59, 59);
    font-size: 1.2em;
    height: 7vh;
    width: 15vw;
    text-align: center;
    margin: auto 20vw auto 15vw;
    padding: auto;
    border-radius: 3px;
    border: 2px solid #e201c4;
    outline: none;
    cursor: pointer;
    transition: ease-in 0.4s;
    position: relative;
    z-index: 1;
}

#button6::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 100%;
    background:#e201c4;
    border: 2px solid #e201c4;
    border-radius: 50%;
    top: -2px;
    left: -10%;
    z-index: -1;
}

#button6::after {
    position: absolute;
    z-index: -1;
    content: "";
    width: 20%;
    height: 100%;
    background:#e201c4;
    border: 2px solid #e201c4;
    border-radius: 50%;
    top: -2px;
    right: -10%;
}

#testcontainer {
    height: 100vh;
    width: 100vw;
   display: flex;
   justify-content: center;
}

.example {
    height: 20vw;
    width: 40vw;
    margin-top: 20vh;
    background: white;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 1;
    border-radius: 4px;
    transition: all 1s ease;
}

.example::before {
    content: 'See preview!';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(34, 34, 59);
    border-radius: 4px 0px 0 4px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.example:hover::before {
    content: '';
    width: 0%;
}

.image {
    background-color: white;
    background-image: url("https://lparchive.org/Avalon-Code/Images/2-UfMQK.gif");
    height: 50%;
    width: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.example div, .example a, .example h4 {
    background-color: white;
    text-align: center;
}

#textcontainer {
    height: 100vh;
    width: 100vw;
    color: black;
    position: relative;
    background: rgb(255, 201, 201);
}

#header1 {
    z-index: 3;
    width: 100%;
    margin: 60px;
    text-align: center;
    background: rgba(0,0,0,0);
}

#newinput {
    position: relative;
    margin: auto 36vw;
    background: rgb(255, 201, 201);
    width: 28vw;
    height: 8vh;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 15px;
    outline: none;
    font-size: 30px;
    z-index: 1;
}

#inputtext {
    color: black;
    background:rgb(255, 201, 201);
    position: absolute;
    border-radius: 8px;
    top: 11%;
    left: 36.5%;
    z-index: 2;
    pointer-events: none;
    font-size: 16px;
    transition: all 0.4s ease;
    padding: 0 0.5vw;
}

#newinput:focus + #inputtext {
    color:rgb(160, 7, 248);
    top: 9%;
    font-size: 12px;
}

#newinput::before {
    position: absolute;
    z-index: -1;
    content: 'Input your password here.';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: red;
}